In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv(r"E:\Machine Learning\handle_categorical.csv")
dataset.head(3)

,EmployeeID,FullName,Department,Role,Salary,Email,Phone,Address,HireDate,Status
0,1,Ali Khan,NaN,NaN,NaN,ali.khan@company.com,032-43163773,NaN,2020-01-31,NaN
1,2,Sara Ahmed,NaN,NaN,NaN,sara.ahmed@company.com,030-41146082,NaN,2020-02-29,NaN
2,3,Hassan Raza,NaN,Manager,90000.0,hassan.raza@company.com,030-31739356,Islamabad,2020-03-31,Active

In [3]:
plt.figure(figsize=(10,10))
sns.heatmap(data=dataset.corr(),annot=True)
plt.show()

ValueError: could not convert string to float: 'Ali Khan'