In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv("Boston_Housing.csv")
dataset.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,House_Price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [20]:
dataset.shape

(10, 14)

In [9]:
input_data = dataset.iloc[:,:-1]
output_data = dataset["House_Price"]

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train, x_test, y_train, y_test = train_test_split(input_data,output_data,test_size=0.25)

In [19]:
y_test

3    33.4
6    22.9
1    21.6
Name: House_Price, dtype: float64

In [24]:
x_test.shape, y_test.shape
# check model

((3, 13), (3,))

In [25]:
x_train.shape, y_train.shape
# check activity or perfromance

((7, 13), (7,))