In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
dataset = pd.read_csv(r"E:\Machine Learning\placement-dataset.csv")

In [6]:
dataset.head(5)

   cgpa  score  placement
0   6.8    123          1
1   5.9    106          0
2   5.3    121          0
3   7.4    132          1
4   5.8    142          0

In [8]:
x = dataset.iloc[:,:-1]
y = dataset["placement"]